.login__content {
  display: flex;
  align-items: center;
  padding-bottom: 87px;
  padding-top: 67px;
  .login__left {
    width: 50%;
    padding: 30px;
    border-right: 1px solid #e4e5e7;
    overflow: hidden;
    div {
      margin-bottom: 50px;
      text-align: center;
    }
  }
  .login__right {
    width: 50%;
    overflow: hidden;
  }
}
