// Carousel
.carousel {
  .carousel__item {
    width: 100%;
  }
  .carousel__item img {
    min-height: 680px;
    object-fit: cover;
  }
  .carousel__content {
    left: 60px;
    position: absolute;
    top: 200px;
    z-index: 100;
    .search-box {
      max-width: 52%;
      h1 {
        color: #fff;
        font-size: 48px;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 0.5em;
      }
      .carousel__search {
        height: 48px;
        margin-bottom: 24px;
        .form-control {
          border-radius: 0.375rem 0 0 0.375rem;
          padding-left: 25px;
        }
        .input-group-append button {
          border-radius: 0 0.375rem 0.375rem 0;
          font-weight: 700;
          padding: 0.375rem 1.5rem;
        }
        .input-group-append .btn-success {
          color: #fff;
          background-color: #198754;
          border-color: #198754;
          &:hover {
            background-color: #157347;
            border-color: #146c43;
          }
          &:focus {
            box-shadow: 0 0 0 0.1rem rgb(60, 153, 110);
            outline: none;
          }
        }
      }
      .carousel__popular {
        display: flex;
        height: 27px;
        p {
          color: #fff;
          font-size: 14px;
          font-weight: 600;
          line-height: 27px;
          margin: 0 12px 0 0;
        }
        .btn {
          border: 1px solid #fff;
          border-radius: 40px;
          padding: 0 12px;
          white-space: nowrap;
          color: #fff;
          font-size: 14px;
          font-weight: 600;
          line-height: 27px;
          margin: 0 12px 0 0;
          &:hover {
            background-color: #fff;
            color: #000;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .carousel .carousel__item img {
    min-height: 500px;
  }
  .carousel .carousel__content {
    left: 60px;
    position: absolute;
    top: 180px;
  }
  .carousel .carousel__content .search-box .carousel__popular {
    display: none !important;
  }
  .carousel .carousel__content .search-box {
    max-width: none;
  }
}

@media screen and (max-width: 768px) {
  .carousel .carousel__item img {
    min-height: 480px;
  }
  .carousel .carousel__content .search-box h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 576px) {
  .carousel .carousel__item img {
    min-height: 450px;
  }
  .carousel .carousel__content .search-box .carousel__search {
    display: none;
  }
  .carousel .carousel__content .search-box {
    position: absolute;
    top: -90px;
  }
}
