// Testimonial
.testimonial {
  margin-bottom: 100px;
  .testimonial__item {
    gap: 10px;
    .video-modal {
      width: 40%;
      position: relative;
    }
    .testimonial__content {
      width: 60%;
      .testimonial__author {
        h5 {
          font-weight: 400;
          color: #74767e;
          margin: 0;
        }
        .author__logo {
          border-left: 1px solid #c5c6c9;
          display: inline-block;
          height: 36px;
          margin-left: 16px;
          .logo-img {
            height: 36px;
            position: relative;
          }
        }
      }
      .testimonial__text {
        color: #003912;
        font-size: 25px;
        font-weight: 500;
      }
    }
  }
}
